<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joelbryceanderson.com.bright">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:fullBackupOnly="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hue.PHHomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Hue.PHPushlinkActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.GroupPickerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MyBridgeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".Activities.AlarmPickerActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIbmi9ZN2qae9tdiCmRDU-9pqmmyjgkWrQNG8vkg" />

    </application>

</manifest>
