<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="joelbryceanderson.com.bright">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hue.PHHomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hue.PHPushlinkActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.GroupPickerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MyBridgeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AlarmPickerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIbmi9ZN2qae9tdiCmRDU-9pqmmyjgkWrQNG8vkg" />

        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="joelbryceanderson.com.bright.activities.MainActivity" />
        </activity>

    </application>

</manifest>
